/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
body {
	font-family: 'Ubuntu', Verdana, sans-serif !important;
	-webkit-font-smoothing: antialiased;
}

/** NAV **/
#nav {
	background: rgba(0,0,0,.3);
	position: fixed;
	left: -5px;
	top: 10px;
	z-index: 9999;
	pointer-events: auto;
	-moz-border-radius-right: 4px; 
	-webkit-border-right-radius: 4px; 
	-khtml-border-right-radius: 4px; 
	border-radius: 0px 4px 4px 0px;
	-webkit-transition: 3s;
	-moz-transition:    3s;
	-ms-transition:     3s;
	-o-transition:      3s;
	transition:         3s;
	/*opacity: 1;*/
}
#nav:hover {
	background: rgba(0,0,0,.9);
}
#nav li {
	list-style: none;
	margin: 8px 0px;
}
#nav a {
	display: block;
	position: relative;
	left: -50px;
	/*padding-left: 30px;*/
	text-align: right;
	width: 100%;
	padding: 0.1em 0.2em 0.1em 30px;
	border-radius: 0.2em;

	-webkit-transition: 0.5s;
	-moz-transition:    0.5s;
	-ms-transition:     0.5s;
	-o-transition:      0.5s;
	transition:         0.5s;
}
#nav a span {
	padding-left: 10px;
	padding-right: 10px;
}
#nav a.ui-state-hover, #nav a.ui-state-active {
	left: 0px;
}
#nav ul {
	position: relative;
	width: 80%;
	left: -300px;
	max-height: 0px;
	-webkit-transition: 0.5s;
	-moz-transition:    0.5s;
	-ms-transition:     0.5s;
	-o-transition:      0.5s;
	transition:         0.5s;
}
#nav li:hover ul, #nav li.active ul {
	max-height: 700px;
	left: 0px;
}
#nav li:hover ul li:hover ul, #nav li.active ul li.active ul {
	max-height: 70px;
	left: 0px;
}
#nav li:hover ul li ul, #nav li.active ul li ul {
	position: relative;
	width: 80%;
	left: -300px;
	max-height: 0px;
	-webkit-transition: 0.5s;
	-moz-transition:    0.5s;
	-ms-transition:     0.5s;
	-o-transition:      0.5s;
	transition:         0.5s;
}
#nav ul li {
	font-size: 0.9em;
	margin: 3px 0px;
}

#nav ul li b {
	padding-left: 10px;
	display: block;
}

/* Next - Previous */

#global-next, #global-prev {
	position: fixed;
	bottom: 5px;
	width: 20%;
	padding: 0.2em;
	margin-left: 5px;
	margin-right: 5px;
	z-index: 9999;
	text-align: center;
	text-shadow: 0 0 1px #000;
	pointer-events: auto;
	-webkit-transition: 0.5s;
	-moz-transition:    0.5s;
	-ms-transition:     0.5s;
	-o-transition:      0.5s;
	transition:         0.5s;
}
#global-next:hover, #global-prev:hover {
	text-shadow: 0 0 30px #fff,  0 0 100px #fff;
	font-weight:bolder;
}
#global-next {
	left: 50%;
}
#global-prev {
	right: 50%;
}

div.wrap {
    width: 85%;
    margin: 5% auto 0;
    padding: 54px 0 0 0;
    -webkit-box-shadow: 0px 0px 30px 5px #000;
    -moz-box-shadow: 0px 0px 30px 5px #000;
    box-shadow: 0px 0px 30px 5px #000;
}
img.wrap {
    margin: 5% auto;
}

section {
    display: block;
    position: relative;
}
header {
    text-align: center;
}
header h1 {
    /*font-size: 126px;
    line-height: 1;
    color: #eee5a2;*/
    text-transform: uppercase;
    text-shadow: 0 0 15px #000;
}
header p {
	text-shadow: 0 0 3px #000;
    /*font-size: 24px;
    color: #6a695f;
    margin: 0 0 10px;*/
}
header p.disclaimer {
	text-shadow: 0 0 3px #000;
    font-size: 70%;
    /*color: #33373d;*/
}

#enneagram img:hover {
	
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
